body {
  font-family: sans-serif;
  background: white;
  color: black;
  padding: 0;
  margin: 0;
}

// div#app--setHeight {
//   height: 1000px;
//   width: 100%;
//   background: yellow;
//   margin: 0 auto;
//   display: block;
//   padding: 0;
// }

// div#app {
//   top: 0;
//   position: fixed;
//   background: green;
//   height: 100vh;
//   width: 100vw;
// }

// div#app nav {
//   margin: 0;
//   display: block;
// }

// div#app nav div {
//   padding: 0;
//   margin: 0;
//   background: red;
//   height: 25vh;
//   width: 100vw;
//   text-align: center;
// }

// h1 {
//   margin: 0;
// }
// div#app nav div.active {
//   background: gray;
// }

// canvas {
//   width: 100%;
//   height: 100%;
// }

// #three-renderer {
//   display: block;
//   width: 800px;
//   height: 800px;
//   background-color: green;
//   margin: 20px;
// }

@import './404';
